@import 'vars';
@import 'mixins';

body{
	background-color: #f8f8f8;
}

.preload{
	display: none;
}


.fixed-width{
	position: relative;
	
	width: 980px;
	
	margin-left: auto;
	margin-right: auto;
	
}


#header{
	height: 84px;
	background-color: #ffffff;
	margin-bottom: 60px;
	border-top: 3px solid $cru-gold;
	
	@include vendor(box-shadow, 0 1px 1px rgba(6,8,8,0.1));
	
	h1 {
		//left: 24px;
	}
}

#nav-bg{
	background-color: #e9e9e9;
	top: 87px;
	display: block;
	
	height: 0px;
}

#nav {
	position: absolute;
	z-index: 500;
	top: 42px;
	left: 189px;
}

#header h1 a{
	background-image: url('images/cru-logo.svg');
	background-repeat: no-repeat;
	background-size: contain;
	height: 64px;
	width: 100%;
}




#nav > ul > li > ul{
	left: -62px;
	background-color: #e9e9e9;
}


#user-actions{
	position: absolute;
	right: 220px;
	
	margin: 0;
	
	
	& > li{
		display: block;
		float: left;
		
		& > a{
			display: block;
			color: #8a8a8a;
		
			padding: 0 10px;
			font-size: 14px;
			font-weight: 400;
			letter-spacing: 0.9px;
		}
	}
}


#nav > ul > li.selected > a,
#nav > ul > li.hover > a,
#nav > ul > li > a:hover{
	background-color: #e9e9e9;
	color: $cru-gold;
}

#nav > ul > li > ul > li > a{
	color: $cru-gray;
	line-height: 34px;
	letter-spacing: 0.2px;
	font-weight: 400;
}

#nav > ul > li > strong > a, #nav > ul > li > a{
	height: 42px;
	line-height: 42px;
	
	letter-spacing: 0.9px;
	font-weight: 400;
}

#nav>ul>li>ul{
	background-color: transparent;
	top: 42px;
}

#toolbar form {
	border-radius: 2px;
}

#nav div.menu h4 a {
	font-size: 15px;
	font-weight: 400;
	letter-spacing: 0.3px;
}

#search_options{
	z-index: 501;
	top: 31px;
	
	background-color: #ffffff;
	border-bottom-right-radius: 2px;
	border-bottom-left-radius: 2px;
}