/*------------------------------------*\
    $VARIABLES
\*------------------------------------*/


/*------------------------------------*\
    $Font Families
\*------------------------------------*/
$base-font-family: "freight-sans-pro", "Helvetica Neue", Arial, Helvetica, sans-serif;
$numberal-font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;

$base-font-color: #353535;
$base-background: #f7f7f7;



/*------------------------------------*\
    $Color Palette
\*------------------------------------*/
/**
 * Primary colors
 */
$cru-gold:         #f9b625;
$cru-gray:         #666062;
$white:            #ffffff;

/**
 * Secondary colors
 */
$cru-orange:       #dd7d1b;

/**
 * Accent colors
 */
$cru-deep-blue:    #007398;
$cur-bright-blue:  #3eb1c8;

/**
 * Grayscale
 */ 
$dark-gray:         #4c4749;





/*------------------------------------*\
    $BUTTON SETTINGS
\*------------------------------------*/
$gold-btn-color: $white;
$gold-btn-bg: $cru-gold;
$gold-btn-border: $cru-gold;




/*------------------------------------*\
    $URL PATHS
\*------------------------------------*/
$cru-logo-primary:  url("images/cru-logo.svg");
$cru-logo-fallback: url("images/cru-logo.png");





/*------------------------------------*\
    $ANIMATIONS
\*------------------------------------*/
$base-animation-time:	250ms;
$base-animation-delay:   250ms;
