/*------------------------------------*\
    $DROPDOWNS
\*------------------------------------*/

.dropdown-wrap { 
	position: fixed;
	left: 0;
	
	background-color: #f3f3f3;
	color: #ffffff;
	width: 100% !important;
	visibility: hidden;
	max-height: 270px;
	height: 0;
	overflow: hidden;
	/* Hover Off */
  	@include vendor(transition, none);
	
	@include vendor(box-shadow, 0 1px 1px rgba(6, 8, 8, 0.4));	
	@include clearfix();
	
	//@include vendor(transition, border-color 250ms 0.2s ease);
	h1, h2, h3, h4{
		color: #333333;
	    padding-left: $base-spacing-unit;
	    padding-left: $line-height-ratio + rem;
	}
}

.dropdown{
	opacity: 0;
	padding-top: 30px;
	padding-bottom: 30px;
	text-align: left;
	@include vendor(transition, opacity 0s 0.25s ease );
}

.no-csstransitions .nav li .dropdown{
	height: 0;
}

.nav li:hover > .arrow-up {
  display: block; 
}


  .dropdown .fixed-width{
	  @extend .cf;
	  opacity: 0;
	  height: 100%;
  } 
  