.search-is-open{
		
	.search-wrap{
		@include vendor(transition-duration, 0.25s);
		@include vendor(transform, translate3d(0, 0, 0));
	}

	.site-header{
		@include vendor(transition-duration, 0.25s);
		@include vendor(transform, translate3d(0, 82px, 0));
	}

	.main-content{
		@include vendor(transition-duration, 0.25s);
		@include vendor(transform, translate3d(0, 82px, 0));
	}
		
}

.no-csstransforms{	
	.search-wrap{
		top: -82px;
	}
	
	.search-is-open{
		
		.search-wrap{
			top: 0;
		}
	
		.site-header{
			top: 82px;
		}
	
		.main-content{
			top: 140px;
		}
		
		
	}
}


.js-nav-ready .js-hover{
	&:before{
		content: '';
		height: 2px;
		width: 100%;
		position: absolute;
		top: 0px;
		background-color: $cru-gold;
	}

	& > .dropdown-wrap{
    	height: 290px;
    	overflow: visible;
		visibility: visible;
		
    	/* Hover On */  
    	@include vendor(transition, height 250ms 0.2s ease);
	
  		.dropdown{
  			opacity: 1;
  		}
	}
}
