.search-is-open{
		
	.search-wrap{
		@include vendor(transition-duration, $base-animation-time);
		@include vendor(transform, translate3d(0, 0, 0));
	}

	.site-header, .main-content{
		@include vendor(transition-duration, $base-animation-time);
		@include vendor(transform, translate3d(0, 82px, 0));
	}

		
}

.no-csstransforms{	
	.search-wrap{
		top: -82px;
	}
	
	.search-is-open{
		
		.search-wrap{
			top: 0;
		}
	
		.site-header{
			top: 82px;
		}
	
		.main-content{
			top: 140px;
		}
		
		
	}
}


.js-nav-ready .js-hover{
	&:before{
		position: absolute;
		top: 0px;
		content: '';
		
		width: 100%;
		height: 2px;

		background-color: $cru-gold;
		
		@include vendor(transition, height $base-animation-time $base-animation-delay ease);
	}
	
	& > a{
		background-color: #f7f7f7;
		
		color: $cru-gold;
	}

	& > .dropdown-wrap{
    	overflow: visible;
		visibility: visible;
    	height: 290px;
		
    	/* Hover On */  
    	@include vendor(transition, height $base-animation-time $base-animation-delay ease);
	
  		.dropdown{
  			opacity: 1;
  		}
	}
}
