/*------------------------------------*\
    $MAIN
\*------------------------------------*/

html, body{
	height: 100%;
	width: 100%;
}
/**
 * 1. Set the base element’s `font-size` to the value of your choosing. Set in
 *    ems, assuming a browser default of 16px.
 * 2. Work out the unitless `line-height` for your project based around your
 *    desired `line-height` (defined previously in pixels), and your project’s
 *    base font size.
 */
html{
	font-size: $base-font-size / 16px + em; /* [1] */
	line-height: $base-line-height / $base-font-size; /* [2] */
	
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body{
	background: $base-background;
	font-family: $base-font-family;
	
	padding-top: 68px;
}

.preload {
	display: none !important;
}

.redesign{
	/**
	* Let’s make the box model all nice, shall we...?
	*/
	*{
	    &,
	    &:before,
	    &:after{
	        @include vendor(box-sizing, border-box);
	    }
	} 
}
