/*------------------------------------*\
    $NAVS
\*------------------------------------*/

.nav{
	list-style-type: none;
	margin-left: 0;
	
	& > li, & > li > a{
		display: inline-block;
		zoom: 1;
	}

	.grid__item{
		@extend %grid-spacing;
	}
	
}
